{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <table class = "table tablestriped">
        <thead>
            <tr>
                <th class= "text-start">Symbol</th>
                <th class= "text-start">Name</th>
                <th class= "text-end">Shares</th>
                <th class= "text-end">Price</th>
                <th class= "text-end">Total</th>
            </tr>
        </thead>
        <tbody>
            {% for share in user_history %}
                <tr>
                    <th class= "text-start">{{ share["symbol"] }}</th>
                    <th class= "text-start">{{ share["name"] }}</th>
                    <th class= "text-end">{{ share["SUM(shares)"] }}</th>
                    <th class= "text-end">{{ share["symbol_price"] | usd}}</th>
                    <th class= "text-end">{{ share["total"] | usd}}</th>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="4">Cash</td>
                <td class="border-0 text-end">{{ current_user_cash[0]["cash"] | usd }}</td>
            </tr>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="4">TOTAL</td>
                <td class="border-0 w-bold text-end">{{ (current_user_cash[0]["cash"] + current_price) | usd }}</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}
